<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="/js/jquery-1.7.1.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/videojs/video-js.css" rel="stylesheet" type="text/css">
    <!-- video.js must be in the <head> for older IEs to work. -->
    <script src="/videojs/video.js"></script>

    <!-- Le styles -->
    <link href="/less/bootstrap.css" rel="stylesheet" type="text/css">
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-modal.js"></script>

    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px 18px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span7,
      .content .span3 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span3 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script src="/js/main.js"></script>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Project name</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          {{^username}}
          <form action="" class="form-search navbar-form pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
          {{/username}}
          {{#username}}
          <ul class="nav pull-right">
            <li class="dropdown" id="menu1">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                Account
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Manage subscription</a></li>
                <li><a data-toggle="modal" href="#" data-target="#upload-modal">Upload file</a></li>
              </ul>
            </li>
          </ul>
          {{/username}}
        </div>
      </div>
    </div>


    {{{yield}}}

    <div class="modal fade" id="upload-modal">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Upload a video</h3>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" action="/file-upload">
            <input type="file" name="video">
            <input type="submit">
        </form>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn primary">Save changes</a>
        <a href="#" class="btn">Close</a>
      </div>
    </div>

  </body>
</html>
